In [2]:
# !pip install yahooquery

In [4]:
from yahooquery import search

# Replace 'COMPANY_NAME_TO_CHECK' with the specific company name you want to check
company_name_to_check = ' Tata Power Company'

try:
    # Use Yahoo Finance search to get stock symbols based on the company name
    result = search(company_name_to_check)

    if result['quotes']:
        # Take the first stock symbol from the search results
        stock_symbol = result['quotes'][0]['symbol']
        print(f"Stock symbol for {company_name_to_check}: {stock_symbol}")
    else:
        # Handle the case where no stock symbol is found
        print(f"No stock symbol found for {company_name_to_check}")
except Exception as e:
    print(f"Error fetching stock symbol for {company_name_to_check}: {e}")

Stock symbol for  Tata Power Company: TATAPOWER.NS

In [2]:
stock_symbol

'TIMKEN.NS'

In [6]:
import yfinance as yf

# Specify the stock symbol and date range
stock_symbol = "TATAPOWER.BO"
start_date = "2023-01-01"
end_date = "2023-12-31"

# Fetch stock data with one-day interval
stock_data_daily = yf.download(stock_symbol, start=start_date, end=end_date, interval='1d')

# Print the stock data
stock_data_daily

D:\anaconda\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-02,208.699997,212.199997,208.149994,211.750000,209.795685,1006268
2023-01-03,212.199997,213.050003,210.000000,211.250000,209.300293,416889
2023-01-04,211.000000,211.000000,205.850006,208.100006,206.179382,719250
2023-01-05,209.800003,209.800003,205.250000,207.649994,205.733521,912312
2023-01-06,207.800003,208.750000,204.100006,205.399994,203.504288,1172834
...,...,...,...,...,...,...
2023-12-22,331.149994,332.000000,323.600006,326.600006,326.600006,706059
2023-12-26,328.899994,331.350006,324.799988,325.149994,325.149994,1476806
2023-12-27,327.350006,330.000000,321.750000,324.950012,324.950012,646687
2023-12-28,326.049988,331.000000,323.950012,329.600006,329.600006,1815094
2023-12-29,330.399994,335.850006,326.100006,332.049988,332.049988,1445263

In [2]:
import yfinance as yf
import pandas as pd

# Replace 'RELIANCE.BSE' with the symbol you are interested in
symbol = 'RELIANCE.BO'

# Download historical data as a pandas DataFrame
data = yf.download(symbol, period='max')

# Reset the index to have the 'Date' as a column
df = data.reset_index()

# Display the DataFrame
print(df.head())

D:\anaconda\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

        Date       Open       High        Low      Close  Adj Close  Volume
0 2000-01-04  67.224998  67.224998  67.224998  67.224998  35.767727    6400
1 2000-01-05  68.000000  68.000000  68.000000  68.000000  36.180061  418568
2 2000-01-12  72.750000  72.750000  72.750000  72.750000  38.707340    4200
3 2000-02-07  86.787498  86.787498  86.787498  86.787498  46.176140    8000
4 2000-02-14  90.000000  90.000000  90.000000  90.000000  47.885376    2000

In [5]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-04,67.224998,67.224998,67.224998,67.224998,35.767727,6400
1,2000-01-05,68.000000,68.000000,68.000000,68.000000,36.180061,418568
2,2000-01-12,72.750000,72.750000,72.750000,72.750000,38.707340,4200
3,2000-02-07,86.787498,86.787498,86.787498,86.787498,46.176140,8000
4,2000-02-14,90.000000,90.000000,90.000000,90.000000,47.885376,2000
...,...,...,...,...,...,...,...
5784,2024-01-19,2753.000000,2753.000000,2716.850098,2735.050049,2735.050049,483007
5785,2024-01-23,2732.149902,2742.750000,2645.000000,2656.000000,2656.000000,102297
5786,2024-01-24,2660.000000,2699.000000,2649.000000,2688.699951,2688.699951,273061
5787,2024-01-25,2684.500000,2725.000000,2670.050049,2710.350098,2710.350098,2411115
5788,2024-01-29,2713.199951,2905.000000,2713.199951,2896.149902,2896.149902,823950

In [6]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64