In [1]:
import yfinance as yf

In [2]:
msft = yf.Ticker("MRF.NS")

## Get all stock info

In [11]:
msft.info

{'address1': 'No. 114, Greams Road',
 'city': 'Chennai',
 'zip': '600006',
 'country': 'India',
 'phone': '91 44 2829 2777',
 'fax': '91 44 2829 5087',
 'website': 'https://www.mrftyres.com',
 'industry': 'Auto Parts',
 'industryKey': 'auto-parts',
 'industryDisp': 'Auto Parts',
 'sector': 'Consumer Cyclical',
 'sectorKey': 'consumer-cyclical',
 'sectorDisp': 'Consumer Cyclical',
 'longBusinessSummary': 'MRF Limited, together with its subsidiaries, manufactures, sells, and trades in rubber products in India and internationally. The company provides rubber products, such as tires, tubes, flaps, and tread rubber; tires for trucks, farm vehicles, LCVs, SCVs, MCVs, three wheelers, pick up, two wheelers, passenger cars, and OTRs; and manufactures specialty coatings. It also involved in the paints and coats, toys, motorsports, and cricket training businesses. In addition, the company operates MRF T&S, MRF TireTok, MRF Tyredrome, MRF FASST, MRF MuscleZone, and shops that provide computerized nitrogen inflation, tubeless repair, wheel alignment, wheel balancing and tire changing; robotic wheel alignment, vehicle safety test lane, diagnostic wheel balancing, A/C recovery and recharging, electronic headlight aligner, nitrogen generator membrane type, and special two-wheeler tire changer; and wheels removal and refitment, and tire mounting and de-mounting services. It sells its products through dealer networks. MRF Limited was founded in 1946 and is based in Chennai, India.',
 'fullTimeEmployees': 19050,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. K. M. Vinoo Mammen',
   'age': 74,
   'title': 'Chairman & MD',
   'yearBorn': 1949,
   'fiscalYear': 2023,
   'totalPay': 298252760,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Arun  Mammen B.Com., M.B.A.',
   'age': 57,
   'title': 'MD & Vice Chairman',
   'yearBorn': 1966,
   'fiscalYear': 2023,
   'totalPay': 249137866,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rahul Mammen Mappillai',
   'age': 45,
   'title': 'Managing Director',
   'yearBorn': 1978,
   'fiscalYear': 2023,
   'totalPay': 218575424,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Samir Thariyan Mappillai',
   'age': 41,
   'title': 'Whole-Time Director',
   'yearBorn': 1982,
   'fiscalYear': 2023,
   'totalPay': 65915654,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Varun  Mammen',
   'age': 40,
   'title': 'Whole-Time Director',
   'yearBorn': 1983,
   'fiscalYear': 2023,
   'totalPay': 66108506,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Madhu P. Nainan',
   'age': 55,
   'title': 'Executive Vice President of Finance',
   'yearBorn': 1968,
   'fiscalYear': 2023,
   'totalPay': 18163046,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. S. Dhanvanth Kumar A.C.S., B.Com., M.B.A.',
   'title': 'Company Secretary & Compliance Officer',
   'fiscalYear': 2023,
   'totalPay': 14785177,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Raman  Kumar M.Sc.',
   'age': 74,
   'title': 'Vice President of Sales',
   'yearBorn': 1949,
   'fiscalYear': 2023,
   'totalPay': 2488932,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mrs. Meera  Mammen M.A',
   'age': 67,
   'title': 'Vice President of Welfare',
   'yearBorn': 1956,
   'fiscalYear': 2023,
   'totalPay': 2522514,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 141312.0,
 'open': 136990.0,
 'dayLow': 132150.16,
 'dayHigh': 136990.0,
 'regularMarketPreviousClose': 141312.0,
 'regularMarketOpen': 136990.0,
 'regularMarketDayLow': 132150.16,
 'regularMarketDayHigh': 136990.0,
 'dividendRate': 178.0,
 'dividendYield': 0.0013,
 'exDividendDate': 1708473600,
 'payoutRatio': 0.0366,
 'fiveYearAvgDividendYield': 0.13,
 'beta': 0.336,
 'trailingPE': 27.747168,
 'forwardPE': 25.106012,
 'volume': 13164,
 'regularMarketVolume': 13164,
 'averageVolume': 12673,
 'averageVolume10days': 10196,
 'averageDailyVolume10Day': 10196,
 'marketCap': 562713395200,
 'fiftyTwoWeekLow': 81786.5,
 'fiftyTwoWeekHigh': 151445.0,
 'priceToSalesTrailing12Months': 2.281139,
 'fiftyDayAverage': 142219.92,
 'twoHundredDayAverage': 117442.555,
 'trailingAnnualDividendRate': 175.0,
 'trailingAnnualDividendYield': 0.0012383945,
 'currency': 'INR',
 'enterpriseValue': 588236849152,
 'profitMargins': 0.08212,
 'floatShares': 2459040,
 'sharesOutstanding': 4241140,
 'heldPercentInsiders': 0.48102,
 'heldPercentInstitutions': 0.19194001,
 'impliedSharesOutstanding': 4376350,
 'bookValue': 37327.418,
 'priceToBook': 3.554485,
 'lastFiscalYearEnd': 1680220800,
 'nextFiscalYearEnd': 1711843200,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': 1.915,
 'netIncomeToCommon': 20257800192,
 'trailingEps': 4781.74,
 'forwardEps': 5284.78,
 'pegRatio': 1.08,
 'enterpriseToRevenue': 2.385,
 'enterpriseToEbitda': 14.502,
 '52WeekChange': 0.6360513,
 'SandP52WeekChange': 0.28643203,
 'lastDividendValue': 3.0,
 'lastDividendDate': 1708473600,
 'exchange': 'NSI',
 'quoteType': 'EQUITY',
 'symbol': 'MRF.NS',
 'underlyingSymbol': 'MRF.NS',
 'shortName': 'MRF LTD',
 'longName': 'MRF Limited',
 'firstTradeDateEpochUtc': 1025495100,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': '17fad206-9091-3a7b-9bfe-5f220f0328b7',
 'messageBoardId': 'finmb_4456415',
 'gmtOffSetMilliseconds': 19800000,
 'currentPrice': 132679.75,
 'targetHighPrice': 149209.0,
 'targetLowPrice': 77500.0,
 'targetMeanPrice': 109512.0,
 'targetMedianPrice': 108929.0,
 'recommendationMean': 4.0,
 'recommendationKey': 'underperform',
 'numberOfAnalystOpinions': 10,
 'totalCash': 24214499328,
 'totalCashPerShare': 5709.37,
 'ebitda': 40563101696,
 'totalDebt': 31353200640,
 'totalRevenue': 246680895488,
 'debtToEquity': 19.805,
 'revenuePerShare': 58164.04,
 'earningsGrowth': 1.916,
 'revenueGrowth': 0.092,
 'grossMargins': 0.38479,
 'ebitdaMargins': 0.16444,
 'operatingMargins': 0.112749994,
 'financialCurrency': 'INR',
 'trailingPegRatio': None}

## Get historical market data

In [31]:
msft.history(period="max")

D:\anaconda\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1996-01-01 00:00:00+05:30,6.071526,6.114533,6.023460,6.096824,33160,0.0,0.0
1996-01-02 00:00:00+05:30,6.096822,6.155008,5.975392,6.020928,176162,0.0,0.0
1996-01-03 00:00:00+05:30,6.020930,6.081646,5.972864,5.982983,104661,0.0,0.0
1996-01-04 00:00:00+05:30,5.982983,5.970334,5.848903,5.894440,77718,0.0,0.0
1996-01-05 00:00:00+05:30,5.894439,6.020929,5.818545,6.010810,113469,0.0,0.0
...,...,...,...,...,...,...,...
2024-03-04 00:00:00+05:30,381.049988,394.000000,380.200012,391.750000,25814019,0.0,0.0
2024-03-05 00:00:00+05:30,392.000000,399.950012,390.500000,396.149994,18795182,0.0,0.0
2024-03-06 00:00:00+05:30,396.149994,397.600006,384.700012,394.950012,15795532,0.0,0.0
2024-03-07 00:00:00+05:30,396.000000,433.299988,396.000000,425.250000,98883541,0.0,0.0
2024-03-11 00:00:00+05:30,414.000000,421.500000,404.649994,413.149994,39113874,0.0,0.0

## Show meta information about the history (requires history() to be called first

In [5]:
msft.history_metadata

{'currency': 'INR',
 'symbol': 'TATAPOWER.NS',
 'exchangeName': 'NSI',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 820467900,
 'regularMarketTime': 1710151200,
 'hasPrePostMarketData': False,
 'gmtoffset': 19800,
 'timezone': 'IST',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'regularMarketPrice': 413.15,
 'chartPreviousClose': 392.1,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'IST',
   'start': 1710128700,
   'end': 1710128700,
   'gmtoffset': 19800},
  'regular': {'timezone': 'IST',
   'start': 1710128700,
   'end': 1710151200,
   'gmtoffset': 19800},
  'post': {'timezone': 'IST',
   'start': 1710151200,
   'end': 1710151200,
   'gmtoffset': 19800}},
 'dataGranularity': '1d',
 'range': '1mo',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

## show actions (dividends, splits, capital gains)

In [6]:
msft.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [7]:
msft.dividends

Series([], Name: Dividends, dtype: float64)

In [8]:
msft.splits

Series([], Name: Stock Splits, dtype: float64)

In [9]:
msft.capital_gains  # only for mutual funds & etfs

[]

## show share count

In [10]:
msft.get_shares_full(start="2024-01-01", end=None)

2024-01-02 00:00:00+05:30    3195340032
2024-01-02 00:00:00+05:30    3212270080
2024-01-11 00:00:00+05:30    3195800064
2024-01-12 00:00:00+05:30    3195340032
2024-01-17 00:00:00+05:30    3196699904
2024-01-17 00:00:00+05:30    3233309952
2024-01-18 00:00:00+05:30    3195340032
2024-01-18 00:00:00+05:30    3239310080
2024-01-24 00:00:00+05:30    3217949952
2024-01-24 00:00:00+05:30    3196260096
2024-01-25 00:00:00+05:30    3195340032
2024-02-02 00:00:00+05:30    3195340032
2024-02-02 00:00:00+05:30    3201910016
2024-02-07 00:00:00+05:30    3195340032
2024-02-07 00:00:00+05:30    3203059968
2024-02-09 00:00:00+05:30    3196519936
2024-02-10 00:00:00+05:30    3195340032
2024-02-11 00:00:00+05:30    3195340032
2024-02-13 00:00:00+05:30    3463899904
2024-02-13 00:00:00+05:30    3195780096
2024-02-14 00:00:00+05:30    3195340032
2024-02-17 00:00:00+05:30    3195340032
2024-02-17 00:00:00+05:30    3216570112
2024-02-21 00:00:00+05:30    3195340032
2024-02-21 00:00:00+05:30    3208410112
2024-02-22 00:00:00+05:30    3195340032
2024-02-22 00:00:00+05:30    3225129984
2024-02-23 00:00:00+05:30    3196189952
2024-02-24 00:00:00+05:30    3195340032
2024-02-29 00:00:00+05:30    3197959936
2024-03-01 00:00:00+05:30    3195340032
2024-03-07 00:00:00+05:30    3195340032
2024-03-07 00:00:00+05:30    3204239872
dtype: int64

# show financials:

## income statement

In [3]:
msft.income_stmt

,2023-03-31,2022-03-31,2021-03-31
Tax Effect Of Unusual Items,277319081.272085,402071179.496217,65040814.928261
Tax Rate For Calcs,0.281171,0.262895,0.264716
Normalized EBITDA,25428400000.0,22133800000.0,31269200000.0
Total Unusual Items,986300000.0,1529400000.0,245700000.0
Total Unusual Items Excluding Goodwill,986300000.0,1529400000.0,245700000.0
Net Income From Continuing Operation Net Minority Interest,7689600000.0,6692400000.0,12770700000.0
Reconciled Depreciation,12530500000.0,12050500000.0,11407700000.0
Reconciled Cost Of Revenue,158572800000.0,129683700000.0,95884700000.0
EBITDA,26414700000.0,23663200000.0,31514900000.0
EBIT,13884200000.0,11612700000.0,20107200000.0
Net Interest Income,-2206100000.0,-1623100000.0,-1543100000.0
Interest Expense,3186800000.0,2533400000.0,2738800000.0
Interest Income,1058300000.0,1004900000.0,1273300000.0
Normalized Income,6980619081.272085,5565071179.496217,12590040814.928261
Net Income From Continuing And Discontinued Operation,7689600000.0,6692400000.0,12770700000.0
Total Expenses,216476200000.0,180689700000.0,141714800000.0
Rent Expense Supplemental,331800000.0,255300000.0,126500000.0
Diluted Average Shares,4241143.0,4241143.0,4241143.0
Basic Average Shares,4241143.0,4241143.0,4241143.0
Diluted EPS,1813.1,1577.97,3011.14
Basic EPS,1813.1,1577.97,3011.14
Diluted NI Availto Com Stockholders,7689600000.0,6692400000.0,12770700000.0
Net Income Common Stockholders,7689600000.0,6692400000.0,12770700000.0
Otherunder Preferred Stock Dividend,0.0,0.0,0.0
Net Income,7689600000.0,6692400000.0,12770700000.0
Minority Interests,100000.0,100000.0,100000.0
Net Income Including Noncontrolling Interests,7689600000.0,6692400000.0,12770700000.0
Net Income Continuous Operations,7689600000.0,6692400000.0,12770700000.0
Tax Provision,3007800000.0,2386900000.0,4597700000.0
Pretax Income,10697400000.0,9079300000.0,17368400000.0
Other Non Operating Income Expenses,134500000.0,209500000.0,166800000.0
Special Income Charges,-80100000.0,-99300000.0,-55500000.0
Other Special Charges,76500000.0,22000000.0,49100000.0
Write Off,3600000.0,6300000.0,6400000.0
Impairment Of Capital Assets,0.0,71000000.0,0.0
Net Non Operating Interest Income Expense,-2206100000.0,-1623100000.0,-1543100000.0
Total Other Finance Cost,77600000.0,94600000.0,77600000.0
Interest Expense Non Operating,3186800000.0,2533400000.0,2738800000.0
Interest Income Non Operating,1058300000.0,1004900000.0,1273300000.0
Operating Income,12029400000.0,9581800000.0,19051900000.0
Operating Expense,57903400000.0,51006000000.0,45830100000.0
Other Operating Expenses,20171000000.0,16980200000.0,19516900000.0
Depreciation And Amortization In Income Statement,12530500000.0,12050500000.0,11407700000.0
Depreciation Income Statement,12530500000.0,12050500000.0,11407700000.0
Selling General And Administration,10669500000.0,9890600000.0,1809600000.0
Selling And Marketing Expense,9977800000.0,9180100000.0,1188100000.0
General And Administrative Expense,691700000.0,710500000.0,621500000.0
Rent And Landing Fees,331800000.0,255300000.0,126500000.0
Gross Profit,69932800000.0,60587800000.0,64882000000.0
Cost Of Revenue,158572800000.0,129683700000.0,95884700000.0
Total Revenue,228505600000.0,190271500000.0,160766700000.0
Operating Revenue,228505600000.0,190271500000.0,160766700000.0

In [4]:
income_statement=msft.income_stmt

In [6]:
income_statement.loc[["Total Revenue", "Operating Revenue", "Gross Profit", "Operating Income", "Net Income", "Diluted EPS", "Basic EPS", "EBITDA", "EBIT", "Interest Expense", "Net Interest Income", "Total Other Finance Cost", "Tax Provision", "Tax Rate For Calcs", "Operating Revenue", "Special Income Charges", "Other Special Charges", "Diluted NI Availto Com Stockholders", "Net Income Common Stockholders", "Basic Average Shares", "Diluted Average Shares"]]

,2023-03-31,2022-03-31,2021-03-31
Total Revenue,228505600000.0,190271500000.0,160766700000.0
Operating Revenue,228505600000.0,190271500000.0,160766700000.0
Gross Profit,69932800000.0,60587800000.0,64882000000.0
Operating Income,12029400000.0,9581800000.0,19051900000.0
Net Income,7689600000.0,6692400000.0,12770700000.0
Diluted EPS,1813.1,1577.97,3011.14
Basic EPS,1813.1,1577.97,3011.14
EBITDA,26414700000.0,23663200000.0,31514900000.0
EBIT,13884200000.0,11612700000.0,20107200000.0
Interest Expense,3186800000.0,2533400000.0,2738800000.0
Net Interest Income,-2206100000.0,-1623100000.0,-1543100000.0
Total Other Finance Cost,77600000.0,94600000.0,77600000.0
Tax Provision,3007800000.0,2386900000.0,4597700000.0
Tax Rate For Calcs,0.281171,0.262895,0.264716
Operating Revenue,228505600000.0,190271500000.0,160766700000.0
Special Income Charges,-80100000.0,-99300000.0,-55500000.0
Other Special Charges,76500000.0,22000000.0,49100000.0
Diluted NI Availto Com Stockholders,7689600000.0,6692400000.0,12770700000.0
Net Income Common Stockholders,7689600000.0,6692400000.0,12770700000.0
Basic Average Shares,4241143.0,4241143.0,4241143.0
Diluted Average Shares,4241143.0,4241143.0,4241143.0

In [12]:
msft.quarterly_income_stmt

,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Tax Effect Of Unusual Items,0.0,0.0,532135369.184372,-344849762.104191,0.0
Tax Rate For Calcs,0.27717,0.173294,0.226749,0.189332,0.3
Normalized EBITDA,35092900000.0,33384000000.0,33557200000.0,31345400000.0,38155700000.0
Total Unusual Items,0.0,0.0,2346800000.0,-1821400000.0,0.0
Total Unusual Items Excluding Goodwill,0.0,0.0,2346800000.0,-1821400000.0,0.0
Net Income From Continuing Operation Net Minority Interest,9530100000.0,8755300000.0,9724900000.0,7777300000.0,9450200000.0
Reconciled Depreciation,9262700000.0,9258900000.0,8934400000.0,9263000000.0,8532600000.0
Reconciled Cost Of Revenue,97769500000.0,104093600000.0,100717400000.0,109738400000.0,93887300000.0
EBITDA,35092900000.0,33384000000.0,35904000000.0,29524000000.0,38155700000.0
EBIT,25830200000.0,24125100000.0,26969600000.0,20261000000.0,29623100000.0
Net Interest Income,-10942600000.0,-11818300000.0,-12214100000.0,-6821600000.0,-10982900000.0
Interest Expense,10942600000.0,11818300000.0,12214100000.0,8680300000.0,10982900000.0
Normalized Income,9530100000.0,8755300000.0,7910235369.184372,9253850237.895809,9450200000.0
Net Income From Continuing And Discontinued Operation,9530100000.0,8755300000.0,9724900000.0,7777300000.0,9450200000.0
Total Expenses,131598500000.0,135729300000.0,131631400000.0,100723100000.0,126476000000.0
Diluted Average Shares,3198020134.0,3195364964.0,3198980263.0,NaN,3203457627.0
Basic Average Shares,3198020134.0,3195364964.0,3198980263.0,NaN,3203457627.0
Diluted EPS,2.98,2.74,3.04,NaN,2.95
Basic EPS,2.98,2.74,3.04,NaN,2.95
Diluted NI Availto Com Stockholders,9530100000.0,8755300000.0,9724900000.0,7777300000.0,9450200000.0
Net Income Common Stockholders,9530100000.0,8755300000.0,9724900000.0,7777300000.0,9450200000.0
Otherunder Preferred Stock Dividend,0.0,0.0,0.0,0.0,0.0
Net Income,9530100000.0,8755300000.0,9724900000.0,7777300000.0,9450200000.0
Minority Interests,-1231100000.0,-1418800000.0,-1684800000.0,-1610800000.0,-1071200000.0
Net Income Including Noncontrolling Interests,10761200000.0,10174100000.0,11409700000.0,9388100000.0,10521400000.0
Net Income Discontinuous Operations,NaN,NaN,NaN,0.0,0.0
Net Income Continuous Operations,10761200000.0,10174100000.0,11409700000.0,9388100000.0,10521400000.0
Tax Provision,4126400000.0,2132700000.0,3345800000.0,2192600000.0,8118800000.0
Pretax Income,14887600000.0,12306800000.0,14755500000.0,11580700000.0,18640200000.0
Other Non Operating Income Expenses,8328500000.0,-41100000.0,614600000.0,3172200000.0,4828400000.0
Special Income Charges,0.0,0.0,2346800000.0,-2743600000.0,0.0
Write Off,NaN,NaN,NaN,515400000.0,0.0
Net Non Operating Interest Income Expense,-10942600000.0,-11818300000.0,-12214100000.0,-6821600000.0,-10982900000.0
Interest Expense Non Operating,10942600000.0,11818300000.0,12214100000.0,8680300000.0,10982900000.0
Operating Income,14911500000.0,21651000000.0,20501500000.0,13266600000.0,14815200000.0
Operating Expense,33829000000.0,31635700000.0,30914000000.0,-9015300000.0,32588700000.0
Other Operating Expenses,14750800000.0,12427800000.0,12228200000.0,-24298000000.0,14884400000.0
Depreciation And Amortization In Income Statement,9262700000.0,9258900000.0,8934400000.0,9263000000.0,8532600000.0
Depreciation Income Statement,9262700000.0,9258900000.0,8934400000.0,7912900000.0,8532600000.0
Gross Profit,48740500000.0,53286700000.0,51415500000.0,4251300000.0,47403900000.0
Cost Of Revenue,97769500000.0,104093600000.0,100717400000.0,109738400000.0,93887300000.0
Total Revenue,146510000000.0,157380300000.0,152132900000.0,113989700000.0,141291200000.0
Operating Revenue,146510000000.0,157380300000.0,152132900000.0,113989700000.0,141291200000.0

##  balance sheet

In [13]:
msft.balance_sheet

,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Ordinary Shares Number,3196991847.0,3196991847.0,3195339547.0,2704773510.0
Share Issued,3196991847.0,3196991847.0,3195339547.0,2704773510.0
Net Debt,447847600000.0,445128500000.0,395012900000.0,464942600000.0
Total Debt,529230900000.0,511952100000.0,467082200000.0,519159800000.0
Tangible Book Value,255477800000.0,192170700000.0,191818400000.0,165622700000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,53393600000.0,34877600000.0,41691600000.0,25610100000.0
Other Short Term Investments,11496000000.0,4105200000.0,4995400000.0,6995100000.0
Cash And Cash Equivalents,41897600000.0,30772400000.0,36696200000.0,18615000000.0
Cash Equivalents,19861500000.0,17020900000.0,25438400000.0,9197700000.0
Cash Financial,22036100000.0,13751500000.0,11257800000.0,9417300000.0

In [14]:
msft.quarterly_balance_sheet

,2023-09-30,2023-03-31
Ordinary Shares Number,3195339547.0,3196991847.0
Share Issued,3195339547.0,3196991847.0
Net Debt,448735300000.0,447847600000.0
Total Debt,525255100000.0,529230900000.0
Tangible Book Value,269807800000.0,255477800000.0
...,...,...
Cash Cash Equivalents And Short Term Investments,114065300000.0,53393600000.0
Other Short Term Investments,79219700000.0,11496000000.0
Cash And Cash Equivalents,34845600000.0,41897600000.0
Cash Equivalents,NaN,19861500000.0
Cash Financial,NaN,22036100000.0

## cash flow statement

In [15]:
msft.cashflow

,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Free Cash Flow,-4968800000.0,-5751300000.0,50093300000.0,51495100000.0
Repayment Of Debt,-118389900000.0,-56842800000.0,-74536100000.0,-56074200000.0
Issuance Of Debt,107304100000.0,114738800000.0,56021900000.0,71883700000.0
Issuance Of Capital Stock,54607100000.0,7575900000.0,31512200000.0,1001700000.0
Capital Expenditure,-76560100000.0,-72678600000.0,-33357900000.0,-22258100000.0
End Cash Position,40722800000.0,28290200000.0,35699600000.0,18343900000.0
Other Cash Adjustment Outside Changein Cash,NaN,-634300000.0,4462900000.0,NaN
Beginning Cash Position,28290200000.0,35699600000.0,18343900000.0,615200000.0
Effect Of Exchange Rate Changes,1186100000.0,895300000.0,-1205600000.0,500400000.0
Changes In Cash,11246500000.0,-7670400000.0,14098400000.0,17228300000.0
Financing Cash Flow,13407700000.0,-11832000000.0,-76028800000.0,-51095700000.0
Net Other Financing Charges,NaN,-16002600000.0,-1712400000.0,-2696000000.0
Interest Paid Cff,-41084100000.0,-35551800000.0,-37314200000.0,-40025000000.0
Cash Dividends Paid,-7868900000.0,-5585100000.0,-5262900000.0,-5005700000.0
Common Stock Dividend Paid,NaN,NaN,NaN,-5005700000.0
Net Common Stock Issuance,54607100000.0,7575900000.0,31512200000.0,1001700000.0
Common Stock Issuance,54607100000.0,7575900000.0,31512200000.0,1001700000.0
Net Issuance Payments Of Debt,11689500000.0,41570100000.0,-59733700000.0,-1070400000.0
Net Short Term Debt Issuance,22775300000.0,-16325900000.0,-41219500000.0,-16879900000.0
Short Term Debt Payments,NaN,NaN,NaN,-441000600000.0
Short Term Debt Issuance,NaN,NaN,NaN,424120700000.0
Net Long Term Debt Issuance,-11085800000.0,57896000000.0,-18514200000.0,15809500000.0
Long Term Debt Payments,-118389900000.0,-56842800000.0,-74536100000.0,-56074200000.0
Long Term Debt Issuance,107304100000.0,114738800000.0,56021900000.0,71883700000.0
Investing Cash Flow,-73752500000.0,-62765700000.0,6676000000.0,-5429200000.0
Net Other Investing Changes,-32989500000.0,-8254200000.0,-1059400000.0,-700400000.0
Interest Received Cfi,3149700000.0,1512400000.0,1611200000.0,1649200000.0
Dividends Received Cfi,33103400000.0,18556000000.0,18460600000.0,18945300000.0
Net Investment Purchase And Sale,-937400000.0,-2252600000.0,8475000000.0,-3428900000.0
Sale Of Investment,8898300000.0,3598000000.0,9277600000.0,5778800000.0
Purchase Of Investment,-9835700000.0,-5850600000.0,-802600000.0,-9207700000.0
Net Business Purchase And Sale,NaN,0.0,-2999000000.0,NaN
Sale Of Business,NaN,0.0,4208500000.0,NaN
Purchase Of Business,NaN,0.0,-7207500000.0,NaN
Net PPE Purchase And Sale,502900000.0,349100000.0,15490900000.0,363700000.0
Sale Of PPE,502900000.0,349100000.0,15490900000.0,363700000.0
Capital Expenditure Reported,-76560100000.0,-72678600000.0,-33357900000.0,-22258100000.0
Operating Cash Flow,71591300000.0,66927300000.0,83451200000.0,73753200000.0
Taxes Refund Paid,-8707000000.0,-6947400000.0,-4470300000.0,-6090900000.0
Change In Working Capital,-9857400000.0,-1886200000.0,11414800000.0,6742600000.0
Change In Other Current Liabilities,40405600000.0,7460000000.0,21605100000.0,8497100000.0
Change In Other Current Assets,-11302200000.0,-7347200000.0,-11868500000.0,6961500000.0
Change In Payable,-30183900000.0,32216900000.0,17099200000.0,-7969700000.0
Change In Inventory,3099100000.0,-23082100000.0,-932600000.0,-213200000.0
Change In Receivables,-12272900000.0,-15783100000.0,-20080200000.0,-655200000.0
Other Non Cash Items,34460000000.0,36941300000.0,38411600000.0,46428300000.0
Provisionand Write Offof Assets,4420800000.0,1508600000.0,1711600000.0,481600000.0
Depreciation And Amortization,34412600000.0,31236400000.0,27460600000.0,26335600000.0
Depreciation,34412600000.0,31236400000.0,27460600000.0,26335600000.0
Gain Loss On Investment Securities,-6163600000.0,-261000000.0,188400000.0,-1392600000.0
Net Foreign Currency Exchange Gain Loss,-364600000.0,-1620800000.0,-167500000.0,-1055900000.0
Gain Loss On Sale Of PPE,299700000.0,410900000.0,-56000000.0,249900000.0
Gain Loss On Sale Of Business,NaN,NaN,NaN,-5325100000.0
Net Income From Continuing Operations,54570000000.0,25351700000.0,17668800000.0,19255200000.0

In [16]:
msft.quarterly_cashflow

Empty DataFrame
Columns: []
Index: []

In [18]:
msft.get_income_stmt()  #for more options

,2023-03-31,2022-03-31,2021-03-31,2020-03-31
TaxEffectOfUnusualItems,-549834499.175371,19338221.778222,-344366278.25623,639631755.033444
TaxRateForCalcs,0.301875,0.126394,0.252616,0.270881
NormalizedEBITDA,131245200000.0,97017900000.0,86587600000.0,90865900000.0
TotalUnusualItems,-1821400000.0,153000000.0,-1363200000.0,2361300000.0
TotalUnusualItemsExcludingGoodwill,-1821400000.0,153000000.0,-1363200000.0,2361300000.0
NetIncomeFromContinuingOperationNetMinorityInterest,33364400000.0,22092900000.0,11735800000.0,14276100000.0
ReconciledDepreciation,34412600000.0,31236400000.0,27460600000.0,26335600000.0
ReconciledCostOfRevenue,410427400000.0,299535700000.0,221603100000.0,186784800000.0
EBITDA,129423800000.0,97170900000.0,85224400000.0,93227200000.0
EBIT,95011200000.0,65934500000.0,57763800000.0,66891600000.0
NetInterestIncome,-38582500000.0,-35717400000.0,-38281500000.0,-43550300000.0
InterestExpense,40441200000.0,35904500000.0,37896500000.0,43210000000.0
InterestIncome,5136500000.0,2925000000.0,1539000000.0,1380400000.0
NormalizedIncome,34635965500.824631,21959238221.778221,12754633721.743771,12554431755.033443
NetIncomeFromContinuingAndDiscontinuedOperation,33364400000.0,17414600000.0,11273800000.0,10173800000.0
TotalExpenses,494619200000.0,374586400000.0,279387100000.0,233401000000.0
RentExpenseSupplemental,1585600000.0,1140700000.0,569900000.0,255700000.0
DilutedAverageShares,3198171607.0,3198171607.0,3018073391.0,2707605570.0
BasicAverageShares,3198171607.0,3198171607.0,3018073391.0,2707605570.0
DilutedEPS,10.43,5.36,3.17,3.12
BasicEPS,10.43,5.36,3.17,3.12
DilutedNIAvailtoComStockholders,33364400000.0,17119400000.0,9561500000.0,8463800000.0
NetIncomeCommonStockholders,33364400000.0,17119400000.0,9561500000.0,8463800000.0
OtherunderPreferredStockDividend,0.0,295200000.0,1712300000.0,1710000000.0
PreferredStockDividends,NaN,0.0,0.0,0.0
NetIncome,33364400000.0,17414600000.0,11273800000.0,10173800000.0
MinorityInterests,-4732300000.0,-4141500000.0,-3112700000.0,-2990600000.0
NetIncomeIncludingNoncontrollingInterests,38096700000.0,21556100000.0,14386500000.0,13164400000.0
NetIncomeDiscontinuousOperations,0.0,-4678300000.0,-462000000.0,-4102300000.0
NetIncomeContinuousOperations,38096700000.0,26234400000.0,14848500000.0,17266000000.0
TaxProvision,16473300000.0,3795600000.0,5018800000.0,6414900000.0
PretaxIncome,54570000000.0,30030000000.0,19867300000.0,23681600000.0
OtherNonOperatingIncomeExpenses,15061800000.0,3836600000.0,9114300000.0,3497500000.0
SpecialIncomeCharges,-2743600000.0,-2033000000.0,-1754600000.0,1910700000.0
OtherSpecialCharges,2228200000.0,410900000.0,1033200000.0,203100000.0
WriteOff,515400000.0,1622100000.0,721400000.0,-2113800000.0
NetNonOperatingInterestIncomeExpense,-38582500000.0,-35717400000.0,-38281500000.0,-43550300000.0
TotalOtherFinanceCost,3277800000.0,2737900000.0,1924000000.0,1720700000.0
InterestExpenseNonOperating,40441200000.0,35904500000.0,37896500000.0,43210000000.0
InterestIncomeNonOperating,5136500000.0,2925000000.0,1539000000.0,1380400000.0
OperatingIncome,45923700000.0,43880300000.0,42539100000.0,52124900000.0
OperatingExpense,84191800000.0,75050700000.0,57784000000.0,46616200000.0
OtherOperatingExpenses,16049400000.0,11222700000.0,8037100000.0,7044700000.0
DepreciationAndAmortizationInIncomeStatement,34392000000.0,31222000000.0,27449400000.0,26335600000.0
Amortization,1350100000.0,1214000000.0,1137200000.0,1237600000.0
DepreciationIncomeStatement,33041900000.0,30008000000.0,26312200000.0,25098000000.0
SellingGeneralAndAdministration,4028600000.0,3239300000.0,2248200000.0,2042000000.0
SellingAndMarketingExpense,13300000.0,32500000.0,30700000.0,31100000.0
GeneralAndAdministrativeExpense,4015300000.0,3206800000.0,2217500000.0,2010900000.0
RentAndLandingFees,1585600000.0,1140700000.0,569900000.0,255700000.0
GrossProfit,130115500000.0,118931000000.0,100323100000.0,98741100000.0
CostOfRevenue,410427400000.0,299535700000.0,221603100000.0,186784800000.0
TotalRevenue,540542900000.0,418466700000.0,321926200000.0,285525900000.0
OperatingRevenue,540542900000.0,418466700000.0,321926200000.0,285525900000.0

## show holders

In [19]:
msft.major_holders

Breakdown                         Value
insidersPercentHeld             0.47221
institutionsPercentHeld         0.20277
institutionsFloatPercentHeld    0.38418
institutionsCount             125.00000

In [20]:
msft.institutional_holders

Empty DataFrame
Columns: []
Index: []

In [21]:
msft.mutualfund_holders

,Date Reported,Holder,pctHeld,Shares,Value
0,2023-07-31,Vanguard International Stock Index-Emerging Ma...,0.0073,23304200,5468330530
1,2023-07-31,Vanguard International Stock Index-Total Intl ...,0.0069,22194978,5208051587
2,2023-08-31,iShares Core MSCI Emerging Markets ETF,0.0044,13947686,3418577838
3,2023-06-30,Matthews International Fds-Matthews Pacific Ti...,0.0037,11795802,2616898673
4,2023-08-31,iShares MSCI India ETF,0.0026,8430562,2066330746
5,2023-08-31,iShares MSCI Emerging Markets ETF,0.0014,4570669,1120270971
6,2023-07-31,DFA Emerging Markets Core Equity Portfolio,0.0012,3799991,891667888
7,2023-07-31,Vanguard Intl Equity Index Fds-FTSE All World ...,0.0011,3375290,792011798
8,2023-08-31,SPDR Portfolio Emerging Markets ETF,0.0010,3036283,744192963
9,2023-05-31,Schwab Strategic Tr-Schwab Emerging Markets Eq...,0.0007,2289089,488834955

In [22]:
msft.insider_transactions

,Shares,URL,Text,Insider,Position,Transaction,Start Date,Ownership,Value
0,29203689,,,ICICI Prudential Balanced Fund,Institution- Corporation,,2021-01-11,D,NaN
1,250000,,Acquisition at price 0.93 per share.,Chandrasekaran (Natarajan),UNREPORTED,,2020-12-01,D,231350.0
2,250000,,Acquisition at price 0.85 per share.,Chandrasekaran (Natarajan),UNREPORTED,,2020-11-27,D,213025.0
3,200000,,,Chandrasekaran (Natarajan),UNREPORTED,,2020-03-16,D,NaN
4,800000,,,ICICI Prudential Balanced Fund,Promoter,,2020-02-19,D,NaN
5,13150,,,Jain (Pratibha),UNREPORTED,,2019-06-28,D,NaN
6,17450,,,Jain (Pratibha),UNREPORTED,,2019-06-28,D,NaN
7,7000,,,Jain (Abhinav),UNREPORTED,,2019-06-28,D,NaN
8,9200,,,Jain (Abhinav),UNREPORTED,,2019-06-28,D,NaN
9,55420707,,,Life Insurance Corporation of India,Institution- Corporation,,2014-10-16,D,NaN
10,64000,,,Mistry (Cyrus P),Non Executive Chairman,,2013-09-18,D,NaN
11,1358608,,,Matthews Pacific Tiger Fund,Investment Advisor,,2013-08-05,D,NaN
12,125,,,Tata AIA Life Insurance Company Ltd,Institution- Corporation,,2012-03-27,D,NaN
13,25000,,,Tata AIA Life Insurance Company Ltd,Promoter,,2012-02-06,D,NaN
14,300,,,Tata AIA Life Insurance Company Ltd,Promoter,,2011-12-14,D,NaN
15,74375,,,Tata AIA Life Insurance Company Ltd,Promoter,,2011-10-12,D,NaN
16,400,,,Tata AIA Life Insurance Company Ltd,Promoter,,2011-10-11,D,NaN
17,1085400,,,Tata AIA Life Insurance Company Ltd,Promoter,,2011-09-26,D,NaN

In [23]:
msft.insider_purchases

       Insider Purchases Last 6m      Shares  Trans
0                      Purchases           0      0
1                          Sales        <NA>      0
2    Net Shares Purchased (Sold)           0      0
3      Total Insider Shares Held  1510137088   <NA>
4  % Net Shares Purchased (Sold)        <NA>   <NA>
5                   % Buy Shares        <NA>   <NA>
6                  % Sell Shares        <NA>   <NA>

In [24]:
msft.insider_roster_holders

,Name,Position,URL,Most Recent Transaction,Latest Transaction Date,Shares Owned Directly,Position Direct Date
0,Chandrasekaran (Natarajan),UNREPORTED,,Acquisition,2020-12-01,700000,2020-12-01
1,ICICI Prudential Balanced Fund,Institution- Corporation,,Sale,2021-01-11,161631777,2021-01-11
2,Jain (Abhinav),UNREPORTED,,Acquisition,2019-06-28,24552,2019-06-28
3,Jain (Pratibha),UNREPORTED,,Acquisition,2019-06-28,37097,2019-06-28
4,Life Insurance Corporation of India,Institution- Corporation,,Acquisition,2014-10-16,341679327,2014-10-16
5,Matthews Pacific Tiger Fund,Investment Advisor,,Acquisition,2013-08-05,119069118,2013-08-05
6,Mistry (Cyrus P),Non Executive Chairman,,Acquisition,2013-09-18,64000,2013-09-18
7,Tata AIA Life Insurance Company Ltd,Institution- Corporation,,Acquisition,2012-03-27,1254800,2012-03-27

## show recommendations

In [25]:
msft.recommendations

Empty DataFrame
Columns: []
Index: []

In [26]:
msft.recommendations_summary

Empty DataFrame
Columns: []
Index: []

In [27]:
msft.upgrades_downgrades

Empty DataFrame
Columns: []
Index: []

## Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default.

In [28]:
msft.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2025-02-07 16:00:00+05:30           NaN           NaN          NaN
2024-11-06 16:00:00+05:30           NaN           NaN          NaN
2024-08-07 16:00:00+05:30           NaN           NaN          NaN
2024-05-02 16:00:00+05:30           NaN           NaN          NaN
2024-02-09 17:00:00+05:30          2.39          2.96       0.2401
2023-11-08 15:00:00+05:30          2.50          2.74       0.0960
2023-08-09 17:00:00+05:30          2.20          2.31       0.0500
2023-05-04 17:00:00+05:30          3.98          2.43      -0.3894

## news

In [30]:
msft.news

[{'uuid': '43bd3fce-c7a6-3871-9b4f-dfe966ea8511',
  'title': 'Fortrea Holdings Inc (FTRE) Reports Mixed 2023 Results and Sets 2024 Guidance',
  'publisher': 'GuruFocus.com',
  'link': 'https://finance.yahoo.com/news/fortrea-holdings-inc-ftre-reports-115120840.html',
  'providerPublishTime': 1710157880,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/E.86uyeM1VEYLHIiI6IGDQ--~B/aD01NTc7dz0xMjQyO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/us.finance.gurufocus/7b7c9187b1eb7368d44f836cc7775c73',
     'width': 1242,
     'height': 557,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/e_NA65IZaxLKE8Iy2vMJpw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/us.finance.gurufocus/7b7c9187b1eb7368d44f836cc7775c73',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': 'ad8ea777-559e-3bf8-b893-df79c6748d76',
  'title': 'Dow Jones Futures Fall After Nvidia Wake-Up Call For AI Market Rally',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/ad8ea777-559e-3bf8-b893-df79c6748d76/dow-jones-futures-fall-after.html',
  'providerPublishTime': 1710157736,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/s9QT8Ej_Ne3zzVrr8dc9Ow--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/619e50dce4e8d750321a63604be8aafa',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/zEDszVIfZjr3hPWH25HNFg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/619e50dce4e8d750321a63604be8aafa',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NVDA', 'COMP', '^GSPC', '^DJI', 'DKNG', 'XP']},
 {'uuid': '7712af97-7b76-368a-a2f4-ca26efa68534',
  'title': "UPDATE 4-Elon Musk takes another swing at OpenAI, makes xAI's Grok chatbot open-source",
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/4-elon-musk-takes-another-114706041.html',
  'providerPublishTime': 1710157626,
  'type': 'STORY'},
 {'uuid': 'c3cd92a5-4659-31f2-a130-e94e55c1e3d3',
  'title': 'PRESS DIGEST-Canada - March 11',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/press-digest-canada-march-11-114653810.html',
  'providerPublishTime': 1710157613,
  'type': 'STORY',
  'relatedTickers': ['MFC']},
 {'uuid': '6a1a3efb-c1bd-3a44-84aa-01a66a1f53b9',
  'title': 'Should You Invest in IPG Photonics Corporation (IPGP)?',
  'publisher': 'Insider Monkey',
  'link': 'https://finance.yahoo.com/news/invest-ipg-photonics-corporation-ipgp-114544188.html',
  'providerPublishTime': 1710157544,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/tOJ_iieAjo_9jGXfmNgWPA--~B/aD00MzA7dz03Njg7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/insidermonkey.com/6b9ea58996462af3de828f62a7cc63f8',
     'width': 768,
     'height': 430,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/X8ZCMVRHxWQwLpqAuokMsA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/6b9ea58996462af3de828f62a7cc63f8',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['IPGP', '^RUT']},
 {'uuid': 'f42659cd-d80d-4b51-ac7e-dd6fb0247daa',
  'title': "The Morning After: Apple reinstates Fortnite creator's developer account after two-day ban",
  'publisher': 'Engadget',
  'link': 'https://finance.yahoo.com/m/f42659cd-d80d-4b51-ac7e-dd6fb0247daa/the-morning-after%3A-apple.html',
  'providerPublishTime': 1710157505,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/C7dcqvUtc9XCn6iJjffjOw--~B/aD0zMzAyO3c9NDk1MzthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2021-11/018296a0-4238-11ec-b79f-72319adfd299',
     'width': 4953,
     'height': 3302,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/qPunpacnUonH5h24bBAD4w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2021-11/018296a0-4238-11ec-b79f-72319adfd299',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '0b94cab6-df2f-3dcb-b5e5-5371269e1843',
  'title': '5ire Chain Announces Strategic Growth and Expansion with Karan Ahluwalia as Core Business and Investment Lead',
  'publisher': 'ACCESSWIRE',
  'link': 'https://finance.yahoo.com/news/5ire-chain-announces-strategic-growth-114500812.html',
  'providerPublishTime': 1710157500,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/KqKhY0aC2u9qwpEuqhPzOg--~B/aD04NTM7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/accesswire.ca/c6de6a384528e8ef3ca0c8e67186216f',
     'width': 1280,
     'height': 853,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/DbUqdoZxAs.ea1MBPWuuqQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/accesswire.ca/c6de6a384528e8ef3ca0c8e67186216f',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '19d044b9-9712-36dd-8cc5-a2aa4e3db7dd',
  'title': 'Karora Announces Consolidated 2024 Gold Production Guidance of 170,000 - 185,000 ounces at AISC of US$1,250 - US$1,375 per ounce sold',
  'publisher': 'CNW Group',
  'link': 'https://finance.yahoo.com/news/karora-announces-consolidated-2024-gold-114500085.html',
  'providerPublishTime': 1710157500,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/3seOUvdo9mEOz1sWbR_g6A--~B/aD0yMDI7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/cnwgroup.com/e52481d0d53a6060ba7ca1bd8ebcd8b0',
     'width': 400,
     'height': 202,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/eUq0yMcrTlUDCe1o16b8ig--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/cnwgroup.com/e52481d0d53a6060ba7ca1bd8ebcd8b0',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['KRRGF']}]